<h1>Most Definitely the Best Book App Ever Created!<h1>
<!-- 

  <h5>About to save: {{something}}</h5> -->

<div ng-controller="BooksCtrl">


  <form ng-submit="addBook()">
    <input ng-model="newBook.title" placeholder="title">
    <input ng-model="newBook.description" placeholder="descprition" >
    <button>Add book</button>
  </form>

  <ul ng-repeat="book in books">

    <div ng-show="!(editBook)">
      <li>{{book.title}} by, {{book.description}}<button ng-click="delete()">delete</button><button ng-click="editBook=!editBook||false">Edit</button></li>
    </div>

    <div ng-show="editBook">
      <form ng-submit="updateBook()">
        <input ng-model="book.title" placeholder="title">
        <input ng-model="book.description" placeholder="descprition" >
        <button>Update book</button>
      </form>

    </div>
  </ul>
